<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="report_item">解決度ステータス編集</h1>
      
      <%= form_with model:@report, url: admins_report_path do |f| %>
        <div class="report_item">解決ステータス</div>
        <%= f.select :is_comfortable, [["未解決", "false"], ["解決済み", "true"]] %>
      
        <div class="report_item">
          <%= f.submit "更新", class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>