<div class="container">
  <div class="row">
    <h1>連絡一覧</h1>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>投稿日</th>
          <th>ユーザー名</th>
          <th>解決ステータス</th>
        </tr>
      </thead>
      
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= link_to report.report_title, admins_report_path(report) %></td>
            <td><%= report.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= report.user.user_name %></td>
            <td>
              <% if report.is_comfortable == false %>
                未解決
              <% else %>
                解決済み
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>