<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="delete_remind"><%= @ink.ink_name %>を削除しますか？</h1>
    
      <!--ボタンの表示-->
      <div class="d-flex justify-content-around">
        <%= link_to "削除する", admins_ink_path(@ink), method: :delete, data: {confirm: '本当に削除しますか？'}, class: "btn btn-dark" %>
        <%= link_to "いいえ", admins_ink_path(@ink), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>