<div class="container">
  <div class="d-flex justify-content-center">
    <!--インクの投稿フォーム呼び出し-->
    <div class="ink_form">
      <%= render 'user/inks/ink', ink: @ink %>
    </div>
    
    <!--エラーメッセージ部分-->
      <% if @ink.errors.any? %>
        <%= @ink.errors.count %>件のエラーが発生しました。
        <% @ink.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
  </div>
</div>