<div class="container">
  <div class="text-center">
    <h1 class="about_ink">
      Ink_holicとは
    </h1>
    
    <P class="about_introduction">
      万年筆用ボトルインク好きのための、インク管理＆レビューサイトです。<br>
      自分の手持ちインクを記録したり、<br>
      新しいインクを見つけるために使ってみてください。
    </P>
  </div>  
    
  <div class="d-flex justify-content-around">
    <div class="bxslider">
      <% @inks.each do |ink| %>
        <%= attachment_image_tag ink, :ink_image, :fill, 150, 150, fallback: "no_image_jpg" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  /* global $*/
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto: true,           // 自動スライド
      speed: 1000,          // スライドするスピード
      moveSlides: 1,        // 移動するスライド数
      pause: 3000,          // 自動スライドの待ち時間
      maxSlides: 4,         // 一度に表示させる最大数
      slideWidth: 250,      // 各スライドの幅
	    randomStart: true,    // 最初に表示するスライドをランダムに設定
      autoHover: true       // ホバー時に自動スライドを停止
    });
  });
</script>